button {
    background-color:rgba(245, 245, 245, 0.473);
    color: rgb(53, 48, 48);
    padding: 14px 20px;
    margin: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    border: 1px solid white;
   box-shadow:  5px 3px rgb(49, 46, 46);
    
    
  }

  
  button:hover {
    opacity: 0.8;
  }

  .psw {
   
    padding-top: 16px;
  }
  
  

    input[type=text], input[type=password] {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        text-align: center;
        border-radius: 10px;
        color: white;
        border-color: aliceblue;
        
    }
    #h4{
      border: solid whitesmoke;
      box-shadow:  5px 3px rgb(43, 39, 39);
    }
    .signup{
      display: flex;
    justify-content: space-evenly;

    }


.input{
    position: relative;
   justify-items: center;
    text-align: center;
    width: 70%;
    background-color: #ccc;
    border: 4px solid white;
    border-radius: 4px;
    box-shadow:  5px 3px rgb(43, 39, 39);
    border-color:rgb(233, 218, 218);
    margin: auto;
    margin-bottom:auto;
    box-shadow: brown;
   
}

body{
    background-color: #ccc;
}

.sec{
  width: 45%;
  padding-top: 20%;
  margin: auto;
  
}

